# Claves de API
OPENAI_API_KEY=sk-proj-xxxx
HF_API_KEY=hf_xxxx
GOOGLE_API_KEY=ya29.xxxx

# Modelos por defecto
DEFAULT_MODEL_OPENAI=gpt-4o-mini
DEFAULT_MODEL_HF=mistralai/Mistral-7B-Instruct-v0.2
DEFAULT_MODEL_GOOGLE=gemini-1.5-pro
DEFAULT_MODEL_EMBEDDINGS_OPENAI=text-embedding-3-small
DEFAULT_MODEL_EMBEDDINGS_HF=sentence-transformers/all-MiniLM-L6-v2

